openapi: '3.0.4'
info:
  title: API социальной сети для курса по System Design
  version: '1.0'
servers:
  - url: https://balun.courses/courses/system_design
paths:
  /posts/photo:
    post:
      summary: Загрузка фотографий к посту
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: array
              items:
                type: string
                format: binary
                maxItems: 5
                maxLength: 500000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items:
                      type: string
                      format: uri
                      description: Ссылка на фотографию
        '400':
          description: Bad Request
  /posts/content:
    post:
      summary: Публикация контента к посту
      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Текст поста
                links:
                  type: array
                  items:
                    type: string
                    format: uri
                    description: Ссылка на фотографию
                    maxItems: 5
                location:
                  $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request

  /posts:
    get:
      summary: Загрузка постов
      parameters:
        - name: location-name
          in: query
          required: false
          description: Название локации
          schema:
            type: string
            minLength: 3
            maxLength: 255
        - name: page
          in: query
          required: true
          description: Страница
          schema:
            type: integer
            minimum: 0
        - name: size
          in: query
          required: true
          description: Количество постов на странице
          schema:
            type: integer
            minimum: 5
            maximum: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: '#/components/schemas/Post'
        '400':
          description: Bad Request

  /posts/{id}/reaction:
    post:
      summary: Лайк поста
      parameters:
        - name: id
          in: query
          required: true
          description: ID поста
          schema:
            type: string
        - name: status
          in: query
          required: true
          description: Статус лайка
          schema:
            type: boolean
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
  
  /posts/{id}/comments:
    get:
      summary: Загрузка комментариев к посту
      parameters:
        - name: id
          in: query
          required: true
          description: ID поста
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostComment'
        '400':
          description: Bad Request

    post:
      summary: Комментирование поста
      parameters:
        - name: id
          in: query
          required: true
          description: ID поста
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Текст комментария
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
  
  /users/{id}/subscriptions:
    get:
      summary: Загрузка подписок пользователя
      parameters:
        - name: id
          in: query
          required: true
          description: ID пользователя
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSubscription'
        '400':
          description: Bad Request
    post:
      summary: Подписка на пользователя
      parameters:
        - name: id
          in: query
          required: true
          description: ID пользователя
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
    delete:
      summary: Отписка от пользователя
      parameters:
        - name: id
          in: query
          required: true
          description: ID пользователя
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
  
  /users/{id}/followers:
    get:
      summary: Загрузка подписчиков пользователя
      parameters:
        - name: id
          in: query
          required: true
          description: ID пользователя
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserFollower'
        '400':
          description: Bad Request

components:
  schemas:

    PaginatedResponse:
      type: object
      properties:
        page:
          type: integer
          description: Страница
        size:
          type: integer
          description: Количество постов на странице
        content:
          type: array
          items:
            type: object

    Location:
      type: object
      properties:
        latitude:
          type: number
          description: Широта
        longitude:
          type: number
          description: Долгота

    Post:
      type: object
      properties:
        id:
          type: string
          description: ID поста
        location:
          $ref: '#/components/schemas/Location'
        author:
          type: string
          description: Автор поста
        created_at:
          type: string
          format: date-time
          description: Дата и время создания поста
        text:
          type: string
          description: Текст поста
        links:
          type: array
          items:
            type: string

    PostComment:
      type: object
      properties:
        id:
          type: string
          description: ID комментария
        author:
          type: string
          description: Автор комментария
        created_at:
          type: string
          format: date-time
          description: Дата и время создания комментария
        text:
          type: string
          description: Текст комментария

    UserSubscription:
      type: object
      properties:
        id:
          type: string
          description: ID подписки
        user:
          type: string
          description: ID пользователя
        created_at:
          type: string
          format: date-time
          description: Дата и время создания подписки
        notifyOnNewPosts:
          type: boolean
          description: Уведомлять о новых постах

    UserFollower:
      type: object
      properties:
        id:
          type: string
          description: ID подписчика
        user:
          type: string
          description: ID пользователя
        created_at:
          type: string
          format: date-time
          description: Дата и время создания подписки
        
        